%h1 Users

= link_to "All Users", :action => "index"
|
= link_to "Users awaiting approval", :action => "index", :approved => "false"

%table
	- @admins.each do |admin|
		%tr
			%td= admin.email
			%td= admin.approved
			%td= admin.id
			= form_tag :controller=> 'users', :action=> 'confirm_user', :id => admin.id, :method => :post do 
				= submit_tag 'Accept user'
