<header class="header" style="color:white;margin-top:-20px;padding-bottom:300px;background-image: url('/images/bg.jpg');background-position: center;-webkit-background-size: cover">
      <%= favicon_link_tag '/images/favicon.ico' %>
      <div class="container text-center">        
            <div class="col-sm-offset-1 col-sm-10">
              <div class="site-heading">
                    <script src="https://use.fontawesome.com/57a1cd7064.js"></script>
              </div>
            </div>
          </div>
        
    </header>


 <div class="container">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <% @posts.reverse.each do |post| %>
    <div class="col-xs-12 text-center">
      <div class="text-center">         
        <h2><%= post.title %></h2>
        <h6><%= post.created_at.strftime('%b %d, %Y') %></h6>
      </div>
      <div>
        <%= raw(post.body).truncate(358) %>
      </div>
      <div class="text-center">
        <%= link_to "READ MORE", post_path(post) %>
      </div>
      <% if admin_signed_in? %>
        <%= link_to "Show", post_path(post), class: "btn btn-primary" %>
        <%= link_to "Edit", edit_post_path(post), class: "btn btn-default" %>
        <%= link_to "Delete", post_path(post), class: "btn btn-danger", data: {:confirm => "Are you sure?"}, method: :delete %>
      <% end %>
      <hr />
    </div>
    <% end %>
  </div>
</div>
 <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                
              </li>
            </ul>
            <a href="https://www.xing.com/profile/David_Wegener3?sc_o=mxb_p"><i class="fa fa-xing-square fa-2x" style="color:#333333" aria-hidden="false"></i></a> <a href="https://www.linkedin.com/in/david-wegener-0bb263100/"><i class="fa fa-linkedin-square fa-2x" style="color:#333333" aria-hidden="false"></i></a> <a href="  https://github.com/wegeneda"><i class="fa fa-github-square fa-2x" style="color:#333333" aria-hidden="false"></i></a>
            <p class="copyright text-muted">Copyright &copy;2017 wepunkt CMS on rails</p>
          </div>
        </div>
      </div>
    </footer>

