<nav class="navbar navbar-inverse ">
  <div class="col-sm-offset-1 col-sm-10 container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <a class="navbar-brand" style="color:white;font-size: 1.7" href="/"> <span class="glyphicon glyphicon-education" aria-hidden="true"></span> 
       WEPUNKT</a><a class="navbar-brand" style="color:white;font-size: 1.7em;font-weight:bold;letter-spacing: -1px" href="/"></span>BLOG</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Home', root_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'The blogger',  root_path  %></li>
            <li><%= link_to 'The blog',  root_path  %></li>
            <li><a href="#"></a></li>
          </ul>
        </li>
        <% if admin_signed_in? %>
        <!--This block is only visible to signed in admins -->
          <li><%= link_to 'New Post', new_post_path %></li>
          <li><%= link_to 'My Account', edit_admin_registration_path  %></li>
          <li><%= link_to 'Logout', destroy_admin_session_path, :method => :delete %></li>
        <!-- The block ends here -->
        <% else %>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Log in', new_admin_session_path  %></li>
            <li><%= link_to 'Sign up', new_admin_registration_path  %></li>
            <li><a href="#"></a></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Forgot password', new_admin_password_path  %></li>
            <li role="separator" class="divider"></li>
          </ul>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

